---
layout: home
title: Home
intro:
  title: Dr. Peter Jesch
  subtitle: Rechtsanwalts GmbH
---
<section class="services" id="willkommen" role="region" aria-label="Willkommen">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Willkommen in der Dr. Peter Jesch Rechtsanwalts GmbH</h2>
        <div class="colored-line"></div>

        <div class="sub-heading">
          <p>Wir legen großen Wert auf persönliche Betreuung und nehmen uns Zeit für ausführliche Beratungen in sämtlichen Rechtsbereichen. Unsere Kanzleistruktur ermöglicht uns, schnell auf die Wünsche unserer Klienten zu reagieren. Diese schenken uns seit vielen Jahren ihr Vertrauen.</p>

          <p>Wir bevorzugen bei rechtlichen Auseinandersetzungen grundsätzlich einvernehmliche Regelungen, sollten diese nicht möglich sein, verfolgen wir die Interessen unserer Klienten konsequent bei Gericht und Behörden.</p>

          <p>Wir unterhalten Kontakte sowohl zu inländischen, aber auch ausländischen – insbesondere deutschen – Kollegen. Unsere Kanzlei arbeitet ständig mit österreichischen Rechtsschutzversicherungen.</p>
        </div>
        <!-- <div class="image">
          <img src="{{ "/assets/images/team/" | relative_url }}Team.JPG" alt="{{ member.name }}" width="70%">
        </div> -->
      </div>
    </div>
  </div>
</section>
<section class="services" id="tätigkeitsfelder" role="region" aria-label="Tätigkeitsfelder" >
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Tätigkeitsfelder</h2>
        <div class="colored-line"></div>
        <div class="sub-heading">
          Zivilrecht <br>
          Schadenersatz- und Gewährleistungsrecht <br>
          Familien- und Erbrecht <br>
          Wirtschaftsrecht <br>
          Wirtschafts- und Finanzstrafrecht <br>
          Immobilienrecht <br>
          Baurecht <br>
          Bauträgervertragsrecht <br>
          Liegenschaftsverkehrsrecht <br>
          Miet- und Wohnungseigentumsrecht <br>
          Vertragserrichtung und Vertragsprüfung <br>
          Arzthaftungsrecht <br>
          Versicherungsrecht <br>
          Verkehrs(unfalls)recht <br>
          Schmerzensgeld <br>
          Vereinsrecht <br>
          Arbeitsrecht <br>
          Erwachsenenschutzrecht <br>
          Forderungsbetreibung <br>
          Grundbuch- und Firmenbuchabfragen <br>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services" id="team" role="region" aria-label="Team">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Wir sind für Sie da!</h2>
        <div class="colored-line"></div>
                <div class="sub-heading"> <br> </div>
              </div>
      <div class="row team-member-wrap">
        {% for member in site.data.team %}
        <div class="team-member-box">
          <div class="team-member">
            <div class="member-pic">
              <img src="{{ "/assets/images/team/" | relative_url }}{{ member.name | slugify }}.png" alt="{{ member.name }}">
            </div>
            <div class="member-details">
              <div class="member-details-inner">
                <h5 style="color:#313131">{{ member.name }}</h5>
                <div style="color:#313131">{{ member.jobtitle }}</div>
                <div class="small-text email"><a href="mailto:{{member.email}}">✉ {{ member.email }}</a></div>
                {% if member.phone %}
                <div class="small-text phone"><a href="tel:{{member.phone}}">✆ {{ member.phone }}</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
